<div
  class="device"
  [class.offline]="!device.online"
>
  <h2 class="title">
    {{ device.name }}
  </h2>

  <div class="container w-full">
    <div
      class="content"
      [class.invisible]="!device.online"
    >
      <div class="status">
        <span class="material-icons">thermostat</span>
        {{ temperature }}°{{ tempUnitConvert.toUpperCase() }}
      </div>

      <div class="status">
        <span class="material-icons">water_drop</span>
        {{ humidity }}%
      </div>
    </div>

    <div class="icons">
      @if (!device.online) {
        <span class="material-icons">cloud_off</span>
      } @else {
        @switch (batteryState) {
          @case (thermometerBatteryState.LOW) {
            <span class="material-icons text-red-400">battery_1_bar</span>
          }
          @case (thermometerBatteryState.MIDDLE) {
            <span class="material-icons">battery_4_bar</span>
          }
          @case (thermometerBatteryState.HIGH) {
            <span class="material-icons">battery_std</span>
            High
          }
        }
      }
    </div>
  </div>
</div>
