<div class="device p-5">
  <h2 class="font-semibold uppercase text-sm">
    {{ device.name }}
  </h2>

  <div class="flex relative">
    <div class="text-sm w-5/6">
      <div class="my-2 text-red-500 uppercase">
        Unknown ({{ device.category }})
      </div>
    </div>

    <div class="flex flex-col space-y-3 absolute right-0 bottom-1">
      @if (!device.online) {
        <span class="material-icons">cloud_off</span>
      }
      <span class="material-icons">question_mark</span>
    </div>
  </div>
</div>
