@reference "tailwindcss";

.device {
  height: 100%;
  background: #0b1739;
  border: 1px solid #ffffff1a;
  border-radius: 25px;
  transition: all 0.3s;
  @apply p-5;

  &:hover {
    transform: scale(1.02);
  }
}

.device.offline {
  background: #292c35;
  border: 1px solid #ffffff1a;
  pointer-events: none;
}

.material-icons {
  font-size: 1.3rem;
}

.title {
  @apply font-semibold;
  @apply uppercase;
  @apply text-sm;
  @apply truncate;
}

.container {
  @apply flex;
  @apply relative;
  @apply h-full;
}

.content {
  @apply text-sm;
  @apply w-5/6;
}

.icons {
  @apply flex;
  @apply flex-col;
  @apply absolute;
  @apply right-0;
  @apply bottom-6;
  @apply space-y-3;
}
