@use "../../../../styles" as vars;
@reference "tailwindcss";

.device {
  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
  }
}

.device.offline {
  background: #292c35;
  border: 1px solid vars.$card-border;
  pointer-events: none;
}

.title {
  @apply font-semibold;
  @apply uppercase;
  @apply text-sm;
  @apply truncate;
}

.container {
  @apply grid;
  @apply grid-cols-6;
  height: inherit;
}

.content {
  @apply col-span-5;
  @apply text-sm;
}

.icons {
  @apply flex;
  @apply flex-col;
  @apply justify-end;
  @apply space-y-3;
  @apply pb-1;
  text-align: right;
}

.material-icons {
  font-size: 1.3rem;
}
