<div
  class="device"
  [class.valve-auto]="mode === valveMode.AUTO"
  [class.valve-on]="state === valveState.OPEN"
  [class.offline]="!device.online"
>
  <h2 class="title">
    {{ device.name }}
  </h2>

  <div class="container">
    <div
      class="content"
      [class.invisible]="!device.online"
    >
      <div class="degree text-center">
        <a [routerLink]="['/valve', device.id]"> {{ temperature }}° </a>
      </div>

      <div
        class="set-degree"
        [class.invisible]="mode === valveMode.OFF"
      >
        <button
          class="w-8 h-8 cursor-pointer"
          [class.invisible]="temperatureSet <= deviceValues.temp.min"
          (click)="temperatureSet = -1"
        >
          -
        </button>
        {{ temperatureSet }}
        <button
          class="w-8 h-8 cursor-pointer"
          [class.invisible]="temperatureSet >= deviceValues.temp.max"
          (click)="temperatureSet = 1"
        >
          +
        </button>
      </div>
    </div>

    <div class="icons">
      @if (!device.online) {
        <span class="material-icons">cloud_off</span>
      } @else {
        @if (state === valveState.OPEN) {
          <span class="material-icons">local_fire_department</span>
        }

        @switch (mode) {
          @case (valveMode.OFF) {
            <span
              class="material-icons cursor-pointer"
              (click)="mode = valveMode.AUTO"
            >
              power_settings_new
            </span>
          }
          @case (valveMode.AUTO) {
            <span
              class="material-icons cursor-pointer"
              (click)="mode = valveMode.MANUAL"
            >
              schedule
            </span>
          }
          @case (valveMode.MANUAL) {
            <span
              class="material-icons cursor-pointer"
              (click)="mode = valveMode.AUTO"
            >
              device_thermostat
            </span>
          }
        }
      }
    </div>
  </div>
</div>
