<div class="flex flex-col items-center text-gray-500">
  @if (api.hasAuth()) {
    @if (error) {
      <p class="text-xl text-red-500">Error</p>
      <p class="text-red-500">
        {{
          error.error && error.message
            ? `${error.error} - ${error.message}`
            : "An error occurred"
        }}
      </p>
    } @else if (!hasData) {
      <p>Loading...</p>
    }
  } @else {
    <p class="text-xl">You need to provide credentials like this:</p>
    <br />
    <a
      class="text-gray-500"
      [routerLink]="['/']"
      [queryParams]="{
        appKey: 'APP_KEY',
        secretKey: 'SECRET_KEY',
        devices: 'DEVICE_ID_1,DEVICE_ID_2,DEVICE_ID_3',
        lineBreaks: '2',
      }"
    >
      {{ baseUrl }}
      <br />?appKey=APP_KEY <br />&secretKey=SECRET_KEY
      <br />&devices=DEVICE_ID_1,DEVICE_ID_2,DEVICE_ID_3 <br />&lineBreaks=2
    </a>
  }
</div>
