<div
  class="device cursor-pointer"
  [class.light-on]="switch"
  [class.offline]="!device.online"
  (click)="toggleLight()"
>
  <h2 class="title">
    {{ device.name }}
  </h2>

  <div class="container">
    <div
      class="content"
      [class.invisible]="!device.online"
    >
      <div class="my-2">&nbsp;</div>
    </div>

    <div class="icons">
      @if (!device.online) {
        <span class="material-icons">cloud_off</span>
      }
      <span class="material-icons">lightbulb</span>
    </div>
  </div>
</div>
