<div
  class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5 gap-5 p-5"
>
  @for (device of devices; track $index) {
    @switch (device.category) {
      @case (deviceValues.type.LIGHT) {
        <app-device-light [device]="device"></app-device-light>
      }
      @case (deviceValues.type.VALVE) {
        <app-device-valve [device]="device"></app-device-valve>
      }
      @default {
        <app-device-unknown [device]="device"></app-device-unknown>
      }
    }
  }
</div>

<div class="text-center text-gray-500">
  @if (!api.hasAuth()) {
    You need to provide credentials like this:
    <br />
    <a
      class="text-center text-gray-500"
      [routerLink]="['/']"
      [queryParams]="{
        appKey: 'APP_KEY',
        secretKey: 'SECRET_KEY',
        devices: 'DEVICE_ID_1,DEVICE_ID_2,...',
      }"
    >
      {{
        baseUrl
      }}?appKey=APP_KEY&secretKey=SECRET_KEY?devices=DEVICE_ID_1,DEVICE_ID_2,...
    </a>
  } @else if (api.hasAuth() && errorMessage) {
    <span class="text-red-500">
      Error<br />
      {{ errorMessage }}</span
    >
  } @else if (api.hasAuth() && !devices) {
    Loading...<br />
    (it can take some time if free server needs to wake up)
  } @else if (api.hasAuth() && devices?.length === 0) {
    No devices found
  }
</div>
