.device {
  min-height: 100px;
  background: #0b1739;
  border: 0.1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
  }
}

.degree {
  font-size: 3rem;
  text-align: center;
}

.set-degree {
  font-size: 1.3rem;
  text-align: center;
}

.light {
  cursor: pointer;
}

.light-on {
  border: none;
  background: linear-gradient(160deg, #ffb12c 0%, #aa6d00 100%);
}

.valve-auto {
  border: none;
  background: linear-gradient(160deg, #4a90e2, #004d98);
}

.valve-on {
  border: none;
  background: linear-gradient(160deg, #c72e24, #911e16e0);
}

.offline {
  border: 0.1px solid rgba(255, 255, 255, 0.1);
  background: #0b1739;
}
