<div
  class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5 gap-5 p-5"
>
  @for (device of devices; track $index) {
    @switch (device.category) {
      @case (deviceValues.type.LIGHT) {
        <div
          class="device cursor-pointer p-5"
          [class.light-on]="getLightStatus(device)"
          [class.offline]="!device.online"
          (click)="toggleLight(device)"
        >
          <h2 class="font-semibold uppercase text-sm">
            {{ device.name }}
          </h2>

          <div class="flex relative">
            <div
              class="text-sm space-y-1 w-5/6"
              [class.invisible]="!device.online"
            >
              <div class="my-2">&nbsp;</div>
            </div>

            <div
              class="flex flex-col justify-end space-y-2 absolute right-0 bottom-0 w-6/6"
            >
              @if (!device.online) {
                <span class="material-icons text-xl/[24px]">cloud_off</span>
              }
              <span
                class="material-icons text-xl/[24px] cursor-pointer"
                [class.text-gray-500]="!getLightStatus(device)"
              >
                lightbulb
              </span>
            </div>
          </div>
        </div>
      }

      @case (deviceValues.type.VALVE) {
        <div
          class="device p-5"
          [class.valve-auto]="
            getValveMode(device) === deviceValues.valve.mode.AUTO
          "
          [class.valve-on]="
            getValveStatus(device) === deviceValues.valve.state.OPEN
          "
          [class.offline]="!device.online"
        >
          <h2 class="font-semibold uppercase text-sm">
            {{ device.name }}
          </h2>

          <div class="flex relative">
            <div
              class="text-sm space-y-1 w-5/6"
              [class.invisible]="!device.online"
            >
              <div class="degree my-5">{{ getTemperature(device) }}°</div>

              <div
                class="set-degree"
                [class.invisible]="
                  getValveMode(device) === deviceValues.valve.mode.OFF
                "
              >
                <button
                  class="w-8 h-8"
                  [class.invisible]="
                    getTemperatureSet(device) <= deviceValues.valve.temp.min
                  "
                  (click)="setTemperature(device, -1)"
                >
                  -
                </button>
                {{ getTemperatureSet(device) }}
                <button
                  class="w-8 h-8"
                  [class.invisible]="
                    getTemperatureSet(device) >= deviceValues.valve.temp.max
                  "
                  (click)="setTemperature(device, 1)"
                >
                  +
                </button>
              </div>
            </div>

            <div
              class="flex flex-col justify-end space-y-2 absolute right-0 bottom-0.5 w-6/6"
            >
              @if (!device.online) {
                <span class="material-icons text-xl/[24px]">cloud_off</span>
              }
              @if (getValveStatus(device) === deviceValues.valve.state.OPEN) {
                <span class="material-icons text-xl/[24px]">
                  local_fire_department
                </span>
              }
              @if (getValveMode(device) === deviceValues.valve.mode.OFF) {
                <span
                  class="material-icons text-xl/[24px] cursor-pointer"
                  (click)="setMode(device, deviceValues.valve.mode.AUTO)"
                >
                  power_settings_new
                </span>
              }
              @if (getValveMode(device) === deviceValues.valve.mode.AUTO) {
                <span
                  class="material-icons text-xl/[24px] cursor-pointer"
                  (click)="setMode(device, deviceValues.valve.mode.MANUAL)"
                >
                  schedule
                </span>
              }
              @if (getValveMode(device) === deviceValues.valve.mode.MANUAL) {
                <span
                  class="material-icons text-xl/[24px] cursor-pointer"
                  (click)="setMode(device, deviceValues.valve.mode.AUTO)"
                >
                  device_thermostat
                </span>
              }
            </div>
          </div>
        </div>
      }
      @default {
        <div class="device p-5">
          <h2 class="font-semibold uppercase text-sm">
            {{ device.name }}
          </h2>

          <div class="flex relative">
            <div class="text-sm space-y-1 w-5/6">
              <div class="my-2 text-sm text-red-500 uppercase">Unknown</div>
            </div>

            <div
              class="flex flex-col justify-end space-y-2 absolute right-0 bottom-0 w-6/6"
            >
              @if (!device.online) {
                <span class="material-icons text-xl/[24px]">cloud_off</span>
              }
              <span class="material-icons text-xl/[24px] text-gray-500">
                question_mark
              </span>
            </div>
          </div>
        </div>
      }
    }
  }
</div>

<div class="text-center text-gray-500">
  @if (!api.hasAuth()) {
    You need to provide credentials like this:
    <br />
    <a
      class="text-center text-gray-500"
      [routerLink]="['/']"
      [queryParams]="{
        appKey: 'APP_KEY',
        secretKey: 'SECRET_KEY',
        devices: 'DEVICE_ID_1,DEVICE_ID_2,...',
      }"
    >
      {{
        baseUrl
      }}?appKey=APP_KEY&secretKey=SECRET_KEY?devices=DEVICE_ID_1,DEVICE_ID_2,...
    </a>
  } @else if (api.hasAuth() && errorMessage) {
    <span class="text-red-500">
      Error<br />
      {{ errorMessage }}</span
    >
  } @else if (api.hasAuth() && !devices) {
    Loading...<br />
    (can take some time if free server needs to wake up)
  } @else if (api.hasAuth() && devices?.length === 0) {
    No devices found
  }
</div>
