.device.valve-auto {
  border: 1px solid #004d98;
  background: linear-gradient(160deg, #4a90e2, #004d98);
}

.device.valve-on {
  border: 1px solid #911e16e0;
  background: linear-gradient(160deg, #c72e24, #911e16e0);
}

.degree {
  font-size: 3rem;
  line-height: 1.2;
}

.set-degree {
  font-size: 1.3rem;
  text-align: center;
}
