<div
  class="device p-5"
  [class.valve-auto]="getValveMode(device) === deviceValues.mode.AUTO"
  [class.valve-on]="getValveState(device) === deviceValues.state.OPEN"
  [class.offline]="!device.online"
>
  <h2 class="font-semibold uppercase text-sm">
    {{ device.name }}
  </h2>

  <div class="flex relative">
    <div
      class="text-sm space-y-1 w-5/6"
      [class.invisible]="!device.online"
    >
      <div class="degree my-5">{{ getTemperature(device) }}°</div>

      <div
        class="set-degree"
        [class.invisible]="getValveMode(device) === deviceValues.mode.OFF"
      >
        <button
          class="w-8 h-8"
          [class.invisible]="getTemperatureSet(device) <= deviceValues.temp.min"
          (click)="setTemperature(device, -1)"
        >
          -
        </button>
        {{ getTemperatureSet(device) }}
        <button
          class="w-8 h-8"
          [class.invisible]="getTemperatureSet(device) >= deviceValues.temp.max"
          (click)="setTemperature(device, 1)"
        >
          +
        </button>
      </div>
    </div>

    <div
      class="flex flex-col justify-end space-y-2 absolute right-0 bottom-0.5 w-6/6"
    >
      @if (!device.online) {
        <span class="material-icons text-xl/[24px]">cloud_off</span>
      }
      @if (getValveState(device) === deviceValues.state.OPEN) {
        <span class="material-icons text-xl/[24px]">
          local_fire_department
        </span>
      }
      @if (getValveMode(device) === deviceValues.mode.OFF) {
        <span
          class="material-icons text-xl/[24px] cursor-pointer"
          (click)="setMode(device, deviceValues.mode.AUTO)"
        >
          power_settings_new
        </span>
      }
      @if (getValveMode(device) === deviceValues.mode.AUTO) {
        <span
          class="material-icons text-xl/[24px] cursor-pointer"
          (click)="setMode(device, deviceValues.mode.MANUAL)"
        >
          schedule
        </span>
      }
      @if (getValveMode(device) === deviceValues.mode.MANUAL) {
        <span
          class="material-icons text-xl/[24px] cursor-pointer"
          (click)="setMode(device, deviceValues.mode.AUTO)"
        >
          device_thermostat
        </span>
      }
    </div>
  </div>
</div>
