/* You can add global styles to this file, and also import other style files */

@use "tailwindcss";

html {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #050b1c;
  color: whitesmoke;
  user-select: none;
}

*:focus {
  outline: none;
}
