@use "tailwindcss";

$max-width: 1400px;
$breakpoint-width: 1100px;
$margin-top: 13vh;

$background: #050b1c;

$card-border: #ffffff1a;
$card-background: #0b1739;

html {
  max-width: $max-width;
  margin: 0 auto;
  background-color: $background;
  color: whitesmoke;
  user-select: none;
}

body {
  @apply p-1;
  height: 100vh;
}

*:focus {
  outline: none;
}

.card {
  @apply p-5;
  @apply m-3;
  // Subtract .card's own vertical margin (m-3 = 0.75rem top + bottom)
  height: calc(100% - 1.5rem);
  background: $card-background;
  border: 1px solid $card-border;
  border-radius: 25px;
}
