<div
  class="device"
  [style]="{
    background: hasOnlyOneSwitch()
      ? `linear-gradient(
        160deg, 
        rgba(255, 177, 44, ${getBrightnessPercentage(0)}) 0%, 
        rgba(170, 109, 0, ${getBrightnessPercentage(0)}) 100%
      )`
      : '#0b1739',
  }"
  [class.offline]="!device.online"
>
  <h2 class="title">
    {{ device.name }}
  </h2>

  <div class="container">
    <div
      class="w-6/6"
      [class.invisible]="!device.online"
    >
      @for (
        dimmerSwitch of switches;
        track dimmerSwitch.status;
        let index = $index
      ) {
        @if (getStatus(index, "status") | isNotNullish) {
          <div class="flex space-x-1">
            <input
              #ref
              type="range"
              class="w-full"
              [min]="getStatus(index, 'brightnessMin')"
              [max]="getStatus(index, 'brightnessMax')"
              [disabled]="!getStatus(index, 'status')"
              [value]="getStatus(index, 'brightness')"
              (change)="setBrightness(index, ref.valueAsNumber)"
            />

            <button
              class="cursor-pointer pt-2 pl-2"
              [class.turned-off]="!getStatus(index, 'status')"
              (click)="toggleLight(index)"
            >
              <span class="material-icons">lightbulb</span>
            </button>
          </div>
        }
      }
    </div>

    @if (!device.online) {
      <div class="icons">
        <span class="material-icons">cloud_off</span>
      </div>
    }
  </div>
</div>
