@reference "tailwindcss";

.turned-off {
  @apply text-gray-500;
}

input[type="range"] {
  cursor: pointer;
  accent-color: #535175;
  &:active {
    cursor: grab;
  }
}

input[type="range"]:disabled {
  cursor: default;
  opacity: 0.2;
}
