<div
  class="device"
  [style]="{
    background: hasOnlyOneSwitch()
      ? `linear-gradient(
        160deg, 
        rgba(255, 177, 44, ${brightnessPercentage(switches.switch1)}) 0%, 
        rgba(170, 109, 0, ${brightnessPercentage(switches.switch1)}) 100%
      )`
      : '#0b1739',
  }"
  [class.offline]="!device.online"
>
  <h2 class="title">
    {{ device.name }}
  </h2>

  <div class="container">
    <div
      class="w-6/6"
      [class.invisible]="!device.online"
    >
      @for (
        dimmerSwitch of [switches.switch1, switches.switch2, switches.switch3];
        track dimmerSwitch.statusCode
      ) {
        @if (switchState(dimmerSwitch) | isNotNullish) {
          <div class="flex space-x-1">
            <input
              #ref
              type="range"
              min="10"
              max="1000"
              class="w-full"
              [disabled]="!switchState(dimmerSwitch)"
              [value]="switchBrightness(dimmerSwitch)"
              (change)="changeBrightness(dimmerSwitch, ref.valueAsNumber)"
            />

            <button
              class="cursor-pointer pt-2 pl-2"
              [class.turned-off]="!switchState(dimmerSwitch)"
              (click)="toggleLight(dimmerSwitch)"
            >
              <span class="material-icons">lightbulb</span>
            </button>
          </div>
        }
      }
    </div>

    @if (!device.online) {
      <div class="icons">
        <span class="material-icons">cloud_off</span>
      </div>
    }
  </div>
</div>
