<div class="main">
  <app-message
    [hasData]="!!devices"
    [error]="error"
  />

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 p-1">
    @for (device of devices; track $index) {
      <div class="m-3">
        @if (isSocketDevice(device)) {
          <app-device-socket [device]="device" />
        } @else if (isLightDevice(device)) {
          <app-device-light [device]="device" />
        } @else if (isValveDevice(device)) {
          <app-device-valve [device]="device" />
        } @else if (isThermometerDevice(device)) {
          <app-device-thermometer [device]="device" />
        } @else if (isDimmerSwitchDevice(device)) {
          <app-device-dimmer-switch [device]="device" />
        } @else {
          <app-device-unknown [device]="device" />
        }
      </div>

      @if (lineBreaks.includes($index + 1)) {
        <span class="col-span-full"></span>
      }
    }
  </div>
</div>
