<div
  class="device cursor-pointer p-5"
  [class.light-on]="getLightStatus(device)"
  [class.offline]="!device.online"
  (click)="toggleLight(device)"
>
  <h2 class="font-semibold uppercase text-sm">
    {{ device.name }}
  </h2>

  <div class="flex relative">
    <div
      class="text-sm w-5/6"
      [class.invisible]="!device.online"
    >
      <div class="my-2">&nbsp;</div>
    </div>

    <div class="flex flex-col space-y-3 absolute right-0 bottom-0">
      @if (!device.online) {
        <span class="material-icons">cloud_off</span>
      }
      <span class="material-icons cursor-pointer">lightbulb</span>
    </div>
  </div>
</div>
