.device {
  background: #0b1739;
  border: 0.1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
  }
}

.device.offline {
  background: #292c35;
  border: 0.1px solid rgba(255, 255, 255, 0.1);
}

.material-icons {
  font-size: 1.3rem;
}
